
.nav-link{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 14px;
}

.nav-link:hover{
    color: black;
}

.cubuk-kutu{
    width: 100%;
    height: 40px;
    background-color: black;
}

.Profil-cercevesi{
    width: 500px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    border: 2px solid rgb(226, 223, 223);
    border-radius: 5px;
    
}
.renk-border{
 border: 1px solid rgb(188, 188, 188);
}

.orta{
    text-align: center;
}

.Profil-cerceve-ici{
    padding: 50px;
}

.button-genisligi{
    width: 100%;
    height: 50px;
    border: 2px solid white;
}

.button-genisligi:hover {
    border-bottom: 8px solid black;
    transition: all 2s;
}


.f1:hover {
    border-bottom: 18px solid blue;
    transition: all 2s;
}

.i2:hover {
    border-bottom: 18px solid rgb(205, 146, 29);
    transition: all 2s;
}

.t3:hover {
    border-bottom: 18px solid rgb(32, 177, 239);
    transition: all 2s;
}

.y4:hover{
    border-bottom: 18px solid red;
    transition: all 2s;
}

.a1 {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid white;

}


.a2 {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid white;


}

.a3 {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid white;

}

.a4 {
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 1px solid white;

}

.b:hover {
    border-bottom: 3px solid orange;
    border-radius: 10px;
}

.b1:hover {
    border-bottom: 3px solid lightblue;
    border-radius: 10px;

}

.b2:hover {
    border-bottom: 3px solid red;
    border-radius: 10px;

}

.b3:hover {
    border-bottom: 3px solid #4bff0a;
    border-radius: 10px;

}

.b4:hover {
    border-bottom: 3px solid rebeccapurple;
    border-radius: 10px;

}

.b5:hover {
    border-bottom: 3px solid khaki;
    border-radius: 10px;

}

.b6:hover {
    border-bottom: 3px solid darkcyan;
    border-radius: 10px;

}

.content {
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}

.content .item {
    position: relative;
    width: 500px;
    overflow: hidden;
    transition: all ease 0.8s;
}

.content .item img {
    width: 100%;
    height: 900px;
    object-fit: cover;

}

.content .item:hover {
    width: 200%;
}

.content .item .text {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    height: 100%;
    padding: 50px 50px 100px;
    color: white;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: all ease 0.5s 0.2s;
}

.content .item:hover .text {
    opacity: 1;
    bottom: 0;
}

.content .item .text h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 5px;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.cubuk1 {
    width: 100%;
    height: 25px;
    background-color: white;
    color: black;
    text-align: center;
}

.cubuk2 {
    width: 100%;
    height: 25px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.Takim_cerceve{
    margin: auto;
    width: 500px;
    height: 720px;
    background-color: rgb(255, 255, 255);
}

.Takim_cerceve_iç{
    padding: 30px;
}

.ortaa{
    margin: auto;
    padding: 20px;
}

.float-l {
    float: left;
}

.kutu3 {
    width: 100%;
    height: 50px;
    background-color: black;
}
.cubuk {
    width: 100%;
    height: 490px;
    background-color: rgb(0, 0, 0);
}

.kutuu {
    padding: 50px;
}
.video_yerlestirme{
    margin-left: 402px;
    margin-top: 20px;
    
}

.aci{
    margin-left: 700px;
    margin-top: 50px;
}

.buttona{
    width: 125px;
    overflow: hidden;
    text-align: center;
}

.buttona:hover{
    border-bottom: 2px solid rgb(255, 255, 255) ;
    border-top: 2px solid rgb(255, 255, 255) ;
    transition: all 2s;
    border-radius: 50px;
}
